# Google API Key for Gemini API, LLM, TTS, Image Gen, and Veo Video Gen
GOOGLE_API_KEY="your-google-api-key-here"

# Hugging Face Access Token (Required to download SAM 3 model weights)
HF_API_KEY="your-huggingface-token-here"

# Set to TRUE if using Vertex AI, or FALSE to use Google Developer API (default)
GOOGLE_GENAI_USE_VERTEXAI=FALSE
